.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-logo {
  width: 150rpx;
  margin: 20rpx;
}

.info-name {
  color: #aaa;
}

.txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 20px 0;
  line-height: 30px;
}
